<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fappify is a modification of Buefy created especially for Fappurbate.">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
            if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>

    <link rel="canonical" href="https://github.com/fappurbate/fappify">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#7957D5">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603CBA">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#7957D5">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/fappurbate/fappify">
    <meta property="og:title" content="Fappify: a modification of Buefy created especially for Fappurbate.">
    <meta property="og:site_name" content="Buefy">
    <meta property="og:description" content="Fappify is a modification of Buefy created especially for Fappurbate.">
    <meta property="og:image" content="https://buefy.org/static/img/buefy-banner.png">
    <meta property="og:image:type" content="image/jpeg">

    <title>Fappify: a modification of Buefy created especially for Fappurbate</title>
</head>

<body>
    <noscript>
        This website needs JavaScript enabled to work correctly.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
</body>

</html>
