$speed-slow: 150ms;
$speed-slower: 250ms;

$primary: #1e152a;
$primary-invert: $white;

$secondary: #5ab1bb;
$secondary-invert: findColorInvert($secondary);

$info: #167df0;

$link: $primary;
$link-invert: $primary-invert;
$link-visited: $grey;
$link-focus-border: $primary;

$color-change-duration: 200ms;

$dropdown-item-hover-background-color: white;
$dropdown-item-hover-color: $secondary;

$menu-item-active-color: $primary;
$menu-item-active-background-color: transparent;

$navbar-dropdown-item-hover-color: $secondary;
$navbar-dropdown-item-hover-background-color: transparent;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);
